In [1]:
path  = r"data\train.csv"

import pandas as pd

In [31]:
df = pd.read_csv(path)

In [32]:
df

                                                   review  label
0       almost enyas cds listen almost religiously rel...      0
1       read richard mathesons book years ago enjoyed ...      2
2       perhaps set expectations high movie based past...      2
3       got product due fact allure best beauty produc...      0
4       dont get confused thinking jack black tenaciou...      0
...                                                   ...    ...
341077  1st acdc album recorded death bon scott anothe...      1
341078  enjoyed reading book although wish one date le...      2
341079  subscribed magazine whim happy receive copy mo...      1
341080  book excellent souce information canine friend...      1
341081  good movie good story line expected good story...      1

[341082 rows x 2 columns]

In [33]:
df = df.head(150000)

In [34]:
df

                                                   review  label
0       almost enyas cds listen almost religiously rel...      0
1       read richard mathesons book years ago enjoyed ...      2
2       perhaps set expectations high movie based past...      2
3       got product due fact allure best beauty produc...      0
4       dont get confused thinking jack black tenaciou...      0
...                                                   ...    ...
149995  fun book read really believable endearing char...      2
149996  cute small gps enough take around california v...      2
149997  18 month old loves elmo got video favorite the...      2
149998  konnichiwa shall dance one famous musical numb...      1
149999  2007 release harper collins clearly attempt ca...      2

[150000 rows x 2 columns]

In [35]:
print("Before balancing:")
print(df['label'].value_counts())

Before balancing:
label
0    50037
2    49990
1    49973
Name: count, dtype: int64

In [36]:
# Group by label
grouped = df.groupby("label")

# Get the minimum class count
min_count = grouped.size().min()

# Sample equally from each class
balanced_df = grouped.apply(lambda x: x.sample(n=min_count, random_state=42)).reset_index(drop=True)

# Shuffle the balanced dataset
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

C:\Users\RISHAV\AppData\Local\Temp\ipykernel_22588\3207455030.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_df = grouped.apply(lambda x: x.sample(n=min_count, random_state=42)).reset_index(drop=True)

In [37]:
print("\nAfter balancing:")
print(balanced_df['label'].value_counts())
balanced_df.to_csv("data/new__train02.csv", index=False)

After balancing:
label
0    49973
2    49973
1    49973
Name: count, dtype: int64

In [13]:
df['label'] = df['label'].map({'positive': 1, 'negative': 0, 'neutral':2})

In [14]:
df

         label                                             review
0            2  gave dad gag gift directing nunsense got reall...
1            1  hope lot people hear cd need strong positive v...
2            1  im reading lot reviews saying best game soundt...
3            1  probably greatest soundtrack history usually b...
4            1  theres reason cd expensive even version thats ...
...        ...                                                ...
1799995      1  amazing good fortune acquainted bob gary doug ...
1799996      2  high chair great features storage space bibs w...
1799997      0  high chair looks great first comes box hill im...
1799998      2  agree everyone else says chair hard clean boug...
1799999      0  sure book supposed really rehash old ideas car...

[1800000 rows x 2 columns]

In [15]:
df = df.head(350000)

In [16]:
df

        label                                             review
0           2  gave dad gag gift directing nunsense got reall...
1           1  hope lot people hear cd need strong positive v...
2           1  im reading lot reviews saying best game soundt...
3           1  probably greatest soundtrack history usually b...
4           1  theres reason cd expensive even version thats ...
...       ...                                                ...
349995      1  predictable times great movie watch friends laugh
349996      0  warriors terra pretty terrible filmed lot dark...
349997      2  commenting reviewer reviewed prior street date...
349998      0  documentary less research freshman term paper ...
349999      1  past counts germany allied different forces na...

[350000 rows x 2 columns]

In [18]:
cols = list(df.columns)
i, j = cols.index('label'), cols.index('review')
cols[i], cols[j] = cols[j], cols[i]

# Reorder the DataFrame
df = df[cols]

In [19]:
df

                                                   review  label
0       gave dad gag gift directing nunsense got reall...      2
1       hope lot people hear cd need strong positive v...      1
2       im reading lot reviews saying best game soundt...      1
3       probably greatest soundtrack history usually b...      1
4       theres reason cd expensive even version thats ...      1
...                                                   ...    ...
349995  predictable times great movie watch friends laugh      1
349996  warriors terra pretty terrible filmed lot dark...      0
349997  commenting reviewer reviewed prior street date...      2
349998  documentary less research freshman term paper ...      0
349999  past counts germany allied different forces na...      1

[350000 rows x 2 columns]

In [20]:
print("Unique label values:", df['label'].unique())

Unique label values: [2 1 0]

In [21]:
print("Before balancing:")
print(df['label'].value_counts())

Before balancing:
label
1    118261
2    118045
0    113694
Name: count, dtype: int64

In [22]:
# Group by label
grouped = df.groupby("label")

# Get the minimum class count
min_count = grouped.size().min()

# Sample equally from each class
balanced_df = grouped.apply(lambda x: x.sample(n=min_count, random_state=42)).reset_index(drop=True)

# Shuffle the balanced dataset
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

C:\Users\RISHAV\AppData\Local\Temp\ipykernel_22588\3207455030.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_df = grouped.apply(lambda x: x.sample(n=min_count, random_state=42)).reset_index(drop=True)

In [23]:
print("\nAfter balancing:")
print(balanced_df['label'].value_counts())
balanced_df.to_csv("data/new__train.csv", index=False)

After balancing:
label
0    113694
2    113694
1    113694
Name: count, dtype: int64