In [1]:
path  = r"data\train_processed.csv"

import pandas as pd

In [2]:
df = pd.read_csv(path)

In [3]:
df = df.head(100000)

In [4]:
df

          label                                            reviews
0       neutral  gave dad gag gift directing nunsense got reall...
1      positive  hope lot people hear cd need strong positive v...
2      positive  im reading lot reviews saying best game soundt...
3      positive  probably greatest soundtrack history usually b...
4      positive  theres reason cd expensive even version thats ...
...         ...                                                ...
99995   neutral  yes one read book seeing movie overalli didnt ...
99996  positive  enjoying book main character son rich self sta...
99997   neutral  book missing chapters duplicate chapterswhen n...
99998  negative  im hoping another box coming received back win...
99999  negative  picked book hoping insight thoroughly disappoi...

[100000 rows x 2 columns]

In [5]:
df['label'] = df['label'].map({'positive': 1, 'negative': 0, 'neutral':2})

In [6]:
df

       label                                            reviews
0          2  gave dad gag gift directing nunsense got reall...
1          1  hope lot people hear cd need strong positive v...
2          1  im reading lot reviews saying best game soundt...
3          1  probably greatest soundtrack history usually b...
4          1  theres reason cd expensive even version thats ...
...      ...                                                ...
99995      2  yes one read book seeing movie overalli didnt ...
99996      1  enjoying book main character son rich self sta...
99997      2  book missing chapters duplicate chapterswhen n...
99998      0  im hoping another box coming received back win...
99999      0  picked book hoping insight thoroughly disappoi...

[100000 rows x 2 columns]

In [7]:
cols = list(df.columns)
i, j = cols.index('label'), cols.index('reviews')
cols[i], cols[j] = cols[j], cols[i]

# Reorder the DataFrame
df = df[cols]

In [8]:
df

                                                 reviews  label
0      gave dad gag gift directing nunsense got reall...      2
1      hope lot people hear cd need strong positive v...      1
2      im reading lot reviews saying best game soundt...      1
3      probably greatest soundtrack history usually b...      1
4      theres reason cd expensive even version thats ...      1
...                                                  ...    ...
99995  yes one read book seeing movie overalli didnt ...      2
99996  enjoying book main character son rich self sta...      1
99997  book missing chapters duplicate chapterswhen n...      2
99998  im hoping another box coming received back win...      0
99999  picked book hoping insight thoroughly disappoi...      0

[100000 rows x 2 columns]

In [9]:
df.to_csv("updated_file.csv", index=False)

In [1]:
import pandas as pd
df = pd.read_csv("data/train.csv")
print("Unique label values:", df['label'].unique())

Unique label values: [2 1 0]

In [2]:
print("Before balancing:")
print(df['label'].value_counts())

Before balancing:
label
2    21119
1    20699
0    19679
Name: count, dtype: int64

In [4]:

# Group by label
grouped = df.groupby("label")

# Get the minimum class count
min_count = grouped.size().min()

# Sample equally from each class
balanced_df = grouped.apply(lambda x: x.sample(n=min_count, random_state=42)).reset_index(drop=True)

# Shuffle the balanced dataset
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

C:\Users\RISHAV\AppData\Local\Temp\ipykernel_19024\1227208076.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_df = grouped.apply(lambda x: x.sample(n=min_count, random_state=42)).reset_index(drop=True)

In [5]:
print("\nAfter balancing:")
print(balanced_df['label'].value_counts())
balanced_df.to_csv("data/train0.csv", index=False)

After balancing:
label
1    19679
0    19679
2    19679
Name: count, dtype: int64